LISTS :






IT CONTAIN ITEM OF DIFFERENT DATA TYPE 









LIST ARE ORDERED,MUTABLE COLLECTION OF ITEMS.

In [3]:
fruits=["apple","banana","guava","pineapple","mango"]
print(fruits)
print(fruits[4])
print(fruits[-1])
print(fruits[1:4])

['apple', 'banana', 'guava', 'pineapple', 'mango']
mango
mango
['banana', 'guava', 'pineapple']

In [4]:
#changing value in list
print(fruits)
fruits[3]="watermelon"
print(fruits)

['apple', 'banana', 'guava', 'pineapple', 'mango']
['apple', 'banana', 'guava', 'watermelon', 'mango']

In [4]:
fruits=["apple","banana","guava","pineapple","mango"]
fruits[1:]="watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

fruits=["apple","banana","guava","pineapple","mango"]


fruits[1:]="watermelon"


fruits



THIS REPLACE A CHARACTER WISE NOT WORD THATS WHY WE USE METHOD LIKE APPEND ETC...

In [20]:
#LIST METHODS
print("ACTUAL LIST")
fruits=["apple","banana","guava","pineapple","mango"]
print(fruits)

print("APPEND METHOD")
fruits.append("orange")
print(fruits)

print("INSERT METHOD")
fruits.insert(3,"orange")
print(fruits)

print("REMOVE METHOD")
fruits.remove("orange")
print(fruits)

print("POP METHOD")
fruits.pop()
print(fruits)

print("INDEX METHOD")
a=fruits.index("guava")
print(a)

print("COUNT METHOD")
fruits.insert(3,"guava")
print(fruits)
b=fruits.count("guava")
print(f"number of guava in fruits list is : {b}")

print("SORT METHOD")
fruits.sort()
print(fruits)

print("REVERSE METHOD")
fruits.reverse()
print(fruits)

print("CLEAR METHOD")
fruits.clear()
print(fruits)

ACTUAL LIST
['apple', 'banana', 'guava', 'pineapple', 'mango']
APPEND METHOD
['apple', 'banana', 'guava', 'pineapple', 'mango', 'orange']
INSERT METHOD
['apple', 'banana', 'guava', 'orange', 'pineapple', 'mango', 'orange']
REMOVE METHOD
['apple', 'banana', 'guava', 'pineapple', 'mango', 'orange']
POP METHOD
['apple', 'banana', 'guava', 'pineapple', 'mango']
INDEX METHOD
2
COUNT METHOD
['apple', 'banana', 'guava', 'guava', 'pineapple', 'mango']
number of guava in fruits list is : 2
SORT METHOD
['apple', 'banana', 'guava', 'guava', 'mango', 'pineapple']
REVERSE METHOD
['pineapple', 'mango', 'guava', 'guava', 'banana', 'apple']
CLEAR METHOD
[]

In [22]:
#slicing list

numbers=[1,2,3,4,5,6,7,8,9]

a=numbers[1:7]
print(a)

b=numbers[1:]
print(b)

c=numbers[:7]
print(c)

#double colon means prints all the element
d=numbers[::]
print(d)

e=numbers[1:7:2]
print(e)

f=numbers[::-1]
print(f)

[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
#iterating ovver list:

print("real")
for number in numbers:
  print(number)

print("iterating through index")
for index,number in enumerate(numbers):
  print(index,number)

real
1
2
3
4
5
6
7
8
9
iterating through index
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

######
List comprehension is a short and elegant way to create a new list by applying an expression to each item in an iterable (like a list or range).



Syntax:

basic syntax:[expression for item in iterable]

with conditional logic:[expression for item in iterable if condition]

nested list comprehension:[expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
#without list comprehension basic syntax
list=[]
for i in range(10):
  list.append(i*5)

print(f"without list comprehension : {list}")

#with list comprehension basic syntax
print("with list comprehension")
[i*5 for i in range(10)]

without list comprehension : [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
with list comprehension

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
#without list comprehension conditional syntax
list=[]
for i in range(10):
  if i%2==0:
    list.append(i)
print(list)

##with list comprehension conditional syntax
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [41]:
list=[]
for i in range(5):
  for j in range(2):
    list.append([i,j])
print(list)

a=[[i,j] for i in range(5) for j in range(2) ]
print(a,end="")

[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1], [4, 0], [4, 1]]
[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1], [4, 0], [4, 1]]

TUPLE:






IT CONTAIN ITEM OF DIFFERENT DATA TYPE 









TUPLE ARE ORDERED,IMMUTABLE COLLECTION OF ITEMS.

In [1]:
tpl=tuple()
print(type(tpl))

<class 'tuple'>

LIST CAN BE CONVERTED INTO TUPLE AND TUPLE ALSO CONVERTED INTO LIST

In [5]:
a=list((1,2,3,4,5))
b=tuple([1,2,3,4,5])
print(a,b)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5)

In [6]:
#tuple operation:

#1.concatenation

number=(1,2,3,4,5)
details=(6,"burhan",8.32,True)
concatenation_tpl=number+details
print(concatenation_tpl)

(1, 2, 3, 4, 5, 6, 'burhan', 8.32, True)

In [8]:
#multiple:it give value how much time we print
details*3

(6, 'burhan', 8.32, True, 6, 'burhan', 8.32, True, 6, 'burhan', 8.32, True)

In [9]:
#tuple methods:
details.count(6)

1

In [12]:
details.index("burhan")

1

In [ ]:
#list are mutable:
lst=[1,2,3,4]
lst[2]=2
lst

[1, 2, 2, 4]

In [15]:
#tuple are immutable:
details

(6, 'burhan', 8.32, True)

In [16]:
details[1]=6

TypeError: 'tuple' object does not support item assignment

**Packing and Unpacking Tuple in Python â€“ Simple Definition:**

* **Packing:**
  Combining multiple values into a single tuple.
  Example:

  ```python
  my_tuple = (1, 2, 3)  # Packing values into a tuple
  ```

* **Unpacking:**
  Extracting values from a tuple into separate variables.
  Example:

  ```python
  a, b, c = my_tuple  # Unpacking the tuple
  ```

ðŸ‘‰ Make sure the number of variables matches the number of elements in the tuple when unpacking.

In [ ]:
#packing

details_1= 1,2,3,4,5
type(details_1)

tuple

In [ ]:
#unpacking


a,b,c,d,e=details_1
print(f"a : {a} , b  : {b}, c : {c} ,d: {d} ,e : {e}   ")

a : 1 , b  : 2, c : 3 ,d: 4 ,e : 5

In [24]:
#unpacking with *
num=(1,2,3,4,5)

In [25]:
a,*b,c=num
print(f"a : {a} , b  : {b}, c : {c}")

a : 1 , b  : [2, 3, 4], c : 5

In [27]:
#nested tuple:
tpl=((1,2,3),
     ("a","b","c"),
     (True,False)
     )
for i in tpl:
  print(i)

(1, 2, 3)
('a', 'b', 'c')
(True, False)

In [31]:
for i in tpl:
  for item in i:
      print(item,end="  ")
  print()

1  2  3
a  b  c
True  False

**Set in Python**:
A **set** is a built-in data type that stores **unordered, unique items**.

### Simple Definition:

> A set is a collection of **unique elements** in **no particular order**.

### Example:

```python
my_set = {1, 2, 3, 3, 4}
print(my_set)
```

**Output:**

```
{1, 2, 3, 4}  # duplicate 3 is removed
```

### Key Points:

* No duplicates allowed.
* Unordered (items may appear in any order).
* Mutable (you can add or remove items).

In [4]:
my_empty_set=set({1,2,3,4,5})
print(my_empty_set)
print(type(my_empty_set))

my_empty_list=list([1,2,3,4,5])
print(my_empty_list)
print(type(my_empty_list))

my_empty_tuple=tuple((1,2,3,4,5))
print(my_empty_tuple)
print(type(my_empty_tuple))

{1, 2, 3, 4, 5}
<class 'set'>
[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

### Set Methods in Python: `add()`, `remove()`, `discard()`

#### 1. `add()`

* Adds a single element to the set.
* If the element is already present, it does nothing.

```python
s = {1, 2}
s.add(3)
print(s)  # {1, 2, 3}
```

#### 2. `remove()`

* Removes the specified element.
* **Raises an error** if the element is not in the set.

```python
s = {1, 2, 3}
s.remove(2)
print(s)  # {1, 3}
# s.remove(5)  # âŒ KeyError if uncommented
```

#### 3. `discard()`

* Removes the specified element.
* **Does NOT raise an error** if the element is not in the set.

```python
s = {1, 2, 3}
s.discard(2)
print(s)  # {1, 3}
s.discard(5)  # No error
```

### Summary:

| Method      | Removes element | Error if not present? |
| ----------- | --------------- | --------------------- |
| `add()`     | No (adds only)  | No                    |
| `remove()`  | Yes             | **Yes**               |
| `discard()` | Yes             | **No**                |


### Set Methods: `pop()` and `clear()`

#### 4. `pop()`

* Removes and returns a **random element** from the set.
* **Raises an error** if the set is empty.

```python
s = {10, 20, 30}
item = s.pop()
print(item)  # Random element like 10
print(s)     # Remaining elements
```

#### 5. `clear()`

* Removes **all elements** from the set.
* The set becomes empty.

```python
s = {1, 2, 3}
s.clear()
print(s)  # Output: set()
```

### Summary:

| Method    | Description                      | Error if empty/missing?   |
| --------- | -------------------------------- | ------------------------- |
| `pop()`   | Removes & returns random element | **Yes** (if set is empty) |
| `clear()` | Removes all elements (empty set) | No                        |

In [9]:
my_set={1,2,3,4,5,6,7,8}
my_set.add(10)
print(f"add method:{my_set}")

my_set.remove(4)


print(f"remove method:{my_set}")

my_set.discard(11)
print(f"discard method:{my_set}")

add method:{1, 2, 3, 4, 5, 6, 7, 8, 10}
remove method:{1, 2, 3, 5, 6, 7, 8, 10}
discard method:{1, 2, 3, 5, 6, 7, 8, 10}

In [10]:
my_set.remove(11)

KeyError: 11

In [11]:
print(f"original set:{my_set}")
my_set.pop()
print(f"pop method:{my_set}")
my_set.clear()
print(f"clear method:{my_set}")

original set:{1, 2, 3, 5, 6, 7, 8, 10}
pop method:{2, 3, 5, 6, 7, 8, 10}
clear method:set()

In [17]:
#set membership test
set1=set((range(1,11)))
print(f"original set:{set1}")
print(10 in set1)
print(52 in set1)

import random
set2=set((random.randint(1,15) for i in range(20)))
print(set2)

original set:{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
True
False
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15}

In [ ]:
#mathematical operation:
#union:
import random
set1={1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15}
set2:{1, 2, 4, 6, 8, 9, 10, 11, 14, 15}
print(f"set1:{set1}")
print(f"set2:{set2}")

a=set1.union(set2)
print(f"union:{a}")

#intersection:
b=set1.intersection(set2)
print(f"intersection:{b}")

#intersection update: it change the alue and update inetersection value
set1.intersection_update(set2)
print(f"intersection update:{set1}")
set1

set1:{1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15}
set2:{1, 2, 4, 6, 8, 9, 10, 11, 14, 15}
union:{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
intersection:{1, 4, 6, 8, 9, 11, 14, 15}
intersection update:{1, 4, 6, 8, 9, 11, 14, 15}

{1, 4, 6, 8, 9, 11, 14, 15}

In [29]:
set3:{1, 3, 4, 5, 6, 11, 12, 13, 14, 15}
set4:{1, 2,  6, 8, 9, 10, 11,  15}
print(f"set3:{set3}")
print(f"set2:{set4}")
d= set3.difference(set4)
print(f"set difference:{d}")

NameError: name 'set3' is not defined

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [1]:

set13=set(range(1,11))

print(13 in set13)
print(3 in set13)
print(11 in set13)
print(1 in set13)
print(7 in set13)






















# s = set(range(1, 6))
# print(3 in s)
# print(6 in s)

False
True
False
True
True

### âœ… **`dict` Definition in Python:**

A **`dict`** (dictionary) is a built-in Python data type used to store **key-value pairs**.

```python
my_dict = {"name": "Alice", "age": 25}
```

---

### ðŸ”‘ **Key Points about `dict`:**

1. **Unordered (Python < 3.7)**, but **insertion-ordered** from **Python 3.7+**.
2. Keys must be **unique** and **immutable** (e.g., strings, numbers, tuples).
3. Values can be **any data type**, and **duplicates are allowed**.
4. Defined using **curly braces `{}`** or the **`dict()`** constructor.
5. Access values using **keys**, not indexes.

---

### ðŸ“Œ Example:

```python
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(person["name"])  # Output: John
```

Let me know if you want operations or methods on `dict`.

In [6]:
my_dict={}

print(type(my_dict))

<class 'dict'>

In [8]:
del dict

In [9]:
dic=dict()
dic

{}

In [ ]:
#why to use unique key : it overwrite
dic1={
  "name":"burhan",
  "age":19,
  "name":24
}
print(dic1)

{'name': 24, 'age': 19}

In [15]:
#accessing elements by 2 methods : 1st is through key and 2nd is through get method

dic1={
  "name":"burhan",
  "age":19,
  "grade":"A"
}

a=dic1["age"]
b=dic1["grade"]
c=dic1["name"]

print(a,b,c)

d=dic1.get("name")
e=dic1.get("grade")
print(d,e)

#if value is not present in dict so it give none and also we gie default value 
f=dic1.get("surname")
print(f)
g=dic1.get("surname","jalal")
print(g)

19 A burhan
burhan A
None
jalal

###
operation:



dictionary are mutable so you can add,update and delete value

In [16]:
dic1

{'name': 'burhan', 'age': 19, 'grade': 'A'}

In [19]:
#update
dic1["grade"]="A+"
print(dic1)

#add
dic1["surname"]="jalal"
print(dic1)

#delete
del dic1["grade"]
print(dic1)

{'name': 'burhan', 'age': 19, 'grade': 'A+', 'surname': 'jalal'}
{'name': 'burhan', 'age': 19, 'grade': 'A+', 'surname': 'jalal'}
{'name': 'burhan', 'age': 19, 'surname': 'jalal'}

In [ ]:
#methods:
key=dic1.keys()      
value=dic1.values()
item=dic1.items()

print(key)
print(value)
print(item)

dict_keys(['name', 'age', 'surname'])
dict_values(['burhan', 19, 'jalal'])
dict_items([('name', 'burhan'), ('age', 19), ('surname', 'jalal')])

Shallow Copy in Python




A shallow copy creates a new object, but does not copy nested objects â€” it just copies references to them.

In [24]:
dic1_copy=dic1
#if i change in dic1 then changes also occcur in dic1_copy:
print(dic1)
dic1["student"]="shabbir"
print(dic1)
print(dic1_copy)

{'name': 'burhan', 'age': 19, 'surname': 'jalal', 'student': 'shabbir'}
{'name': 'burhan', 'age': 19, 'surname': 'jalal', 'student': 'shabbir'}
{'name': 'burhan', 'age': 19, 'surname': 'jalal', 'student': 'shabbir'}

In [26]:
#thats why use shallow copy : it crates a new object but not copy.it just copies references
dic1_copy1=dic1.copy()
dic1["name"]="shabbir"
print(dic1)
print(dic1_copy1)

{'name': 'shabbir', 'age': 19, 'surname': 'jalal', 'student': 'shabbir'}
{'name': 'burhan', 'age': 19, 'surname': 'jalal', 'student': 'shabbir'}

In [2]:
#iterating key,value and key value throgh loop
students={
  "name":"burhan",
  "age":19,
  "cllg":"ITMBU"
}
for key in students.keys():
       print(f"keys:{key}")
for value in students.values():
       print(f"values:{value}")
for item,items in students.items():
       print(f"{item}:{items}")

keys:name
keys:age
keys:cllg
values:burhan
values:19
values:ITMBU
name:burhan
age:19
cllg:ITMBU

In [13]:
#create nested dictionaries and acccess value:
student={
  "student1":{"name":"burhan","age":19},
  "student2":{"name":"jalal","age":29}
}

a=student["student1"]["name"]
b=student["student2"]["name"]
print(f"name of student1 is : {a} and name of student2 is : {b} ")

name of student1 is : burhan and name of student2 is : jalal

In [14]:
#iterating nested dict through loop

for student_info,student_value in student.items():
  print(f"{student_info}:{student_value}")

student1:{'name': 'burhan', 'age': 19}
student2:{'name': 'jalal', 'age': 29}

In [16]:
for student_info,student_value in student.items():
  print(f"{student_info}:{student_value}")
  for key,value in student_value.items():
    print(f"{key}:{value}")

student1:{'name': 'burhan', 'age': 19}
name:burhan
age:19
student2:{'name': 'jalal', 'age': 29}
name:jalal
age:29

In [19]:
#without dictionary comprehension

for i in range(5):
  print(f"{i}:{i**2}",end=" ")

0:0 1:1 2:4 3:9 4:16

In [21]:
#with dictionary comprehension
my_dict={i:i**2 for i in range(5)}
print(my_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
#conditional dictionary comprehension
my_dict1={i:i for i in range(11) if i%2==0}
print(my_dict1)

{0: 0, 2: 2, 4: 4, 6: 6, 8: 8, 10: 10}

In [26]:
#use a dictionary to count the frequency of a number in a list:
lst=[1,1,1,2,2,3,4,3,4,2,3,4,2,1,4]
frequency={}

for i in lst:
  if i in frequency:
    frequency[i]+=1
  else:
    frequency[i]=1

print(frequency)

{1: 4, 2: 4, 3: 3, 4: 4}

In [ ]:
#merged dict:
dict1={"a":2,"b":3}
dict2={"b":4,"c":5}
merged={**dict1,**dict2}
print(merged)

a:4
b:5