# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl=tuple(range(1,11))
print(f"tuple with first 10 +ve integers : {tpl}")












# tpl = tuple(range(1, 11))
# print(tpl)

tuple with first 10 +ve integers : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:

a,*b,c=tpl
print(f"first element:{a}")
print(f"middle element:{b}")
print(f"last element:{c}")







# print(f"First element: {tpl[0]}")
# print(f"Middle element: {tpl[len(tpl) // 2]}")
# print(f"Last element: {tpl[-1]}")

first element:1
middle element:[2, 3, 4, 5, 6, 7, 8, 9]
last element:10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
a=tpl[0:3]
b=tpl[-3:]
c=tpl[2:6]

print(f"first 3 element is {a}") 

print(f"last 3 element is {b}") 

print(f"index 2 to 5 element is {c}") 












print(f"First three elements: {tpl[:3]}")
print(f"Last three elements: {tpl[-3:]}")
print(f"Elements from index 2 to 5: {tpl[2:6]}")

first 3 element is (1, 2, 3)
last 3 element is (8, 9, 10)
index 2 to 5 element is (3, 4, 5)
First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [10]:

matrix=(
    (1,2,3,4),
    (5,6,7,8),
    (9,10,11,12)
)
print(f"original matrix : {matrix}")

a=matrix[1]
print(a)


for row in matrix:
    print(row[2],end=" ")

























# matrix = (
#     (1, 2, 3),
#     (4, 5, 6),
#     (7, 8, 9)
# )
# print("Matrix:")
# for row in matrix:
#     print(row)
# print(f"Element at second row and third column: {matrix[1][2]}")

original matrix : ((1, 2, 3, 4), (5, 6, 7, 8), (9, 10, 11, 12))
(5, 6, 7, 8)
3 7 11

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [11]:


tpl1=(1,2,3)
tpl2=(4,5,6)
result=tpl1+tpl2
print(f"concatenation of 2 tuple is {result}")














# tpl1 = (1, 2, 3)
# tpl2 = (4, 5, 6)
# concatenated = tpl1 + tpl2
# print(concatenated)

concatenation of 2 tuple is (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [18]:
# import random
# tpl=tuple(random.randint(1,20) for i in range(15))
tpl=(1,2,2,2,3,4,5,6,7,8,9,22,22,2,2,2,)
print(tpl)

a=tpl.count(2)
b=tpl.index(22)

print(f"count method:{a}")
print(f"index method:{b}")






























# tpl = (1, 2, 2, 3, 4, 4, 4, 5)
# print(f"Occurrences of 4: {tpl.count(4)}")
# print(f"Index of first occurrence of 2: {tpl.index(2)}")

(1, 2, 2, 2, 3, 4, 5, 6, 7, 8, 9, 22, 22, 2, 2, 2)
count method:6
index method:11

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [20]:

tpl=(1,2,3,4,5)

a,b,c,d,e=tpl
print(a,b,c,d,e)






















# tpl = (1, 2, 3, 4, 5)
# a, b, c, d, e = tpl
# print(a, b, c, d, e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [23]:
lst=[]
for i in range(1,6):
  lst.append(i)

print(lst)

tpl=tuple(lst)
tpl





























# lst = [1, 2, 3, 4, 5]
# tpl = tuple(lst)
# print(tpl)

[1, 2, 3, 4, 5]

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [25]:
tpl=(
  (1,2,3),(5,6,7),(9,10,11)
)
for i in tpl:
  print(i)


























tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

(1, 2, 3)
(5, 6, 7)
(9, 10, 11)
((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [29]:

tpl=(1,2,3,4,5)
lst=list(tpl)
print(f"original tuple:{tpl}")
print(f"tuple to list:{lst}")

lst.append(6)
tpl=tuple(lst)
print(f"append 6 into new tupple{tpl}")













# tpl = (1, 2, 3, 4, 5)
# lst = list(tpl)
# lst.append(6)
# tpl = tuple(lst)
# print(tpl)

original tuple:(1, 2, 3, 4, 5)
tuple to list:[1, 2, 3, 4, 5]
append 6 into new tupple(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [31]:
tpl=('b','u','r','h','a','n')

joined_string=''.join(tpl)

print(joined_string)





















string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

burhan
hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [33]:
dict={
  ("name:burhan")
  ("age:19")
  ("marks:79")

}
  
print(dict)




















# tpl_dict = {
#     (1, 2): 3,
#     (4, 5): 6,
#     (7, 8): 9
# }
# print(tpl_dict)

<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\Administrator\AppData\Local\Temp\ipykernel_1204\2894215259.py:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  ("name:burhan")

TypeError: 'str' object is not callable

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [35]:
tpl=(
    (1,2,3),(4,5,6),(7,8,9)
)
for i in tpl:
    for j in i:
        print(j,end=" ")
















# nested_tpl = (
#     (1, 2, 3),
#     (4, 5, 6),
#     (7, 8, 9)
# )
# for tpl in nested_tpl:
#     for elem in tpl:
#         print(elem)

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")